<div style="border:solid purple 2px; padding: 20px">

–ê—Ä—Ç–µ–º –ø—Ä–∏–≤–µ—Ç! üëã –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –ø–µ—Ä–≤—ã–º –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã–º –ø—Ä–æ–µ–∫—Ç–æ–º.
    
–ú–µ–Ω—è –∑–æ–≤—É—Ç –†—É—Å—Ç–∞–º –ú—É—Ä—Ç–∞–∑–∏–Ω, –∏ —è –±—É–¥—É –¥–µ–ª–∞—Ç—å —Ä–µ–≤—å—é –ø—Ä–æ–µ–∫—Ç–Ω–æ–π —Ä–∞–±–æ—Ç—ã –ø–æ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–µ –¥–∞–Ω–Ω—ã—Ö. –î–∞–≤–∞–π –±—É–¥–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ **¬´—Ç—ã¬ª**. –ï—Å–ª–∏ —ç—Ç–æ –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω–∞–ø–∏—à–∏ –º–Ω–µ –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö ‚Äî –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ **¬´–≤—ã¬ª**.

–¢—ã –ø—Ä–æ–¥–µ–ª–∞–ª –±–æ–ª—å—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –æ–¥–Ω–∞–∫–æ –≤ –ª—é–±–æ–º –¥–µ–ª–µ –≤—Å–µ–≥–¥–∞ –º–æ–∂–Ω–æ –º–æ–∂–Ω–æ —á—Ç–æ-—Ç–æ —É–ª—É—á—à–∏—Ç—å. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ –ø–æ–∫–∞–∑–∞—Ç—å, —á—Ç–æ –≥–¥–µ-—Ç–æ —Å–æ–≤–µ—Ä—à–µ–Ω—ã –∫–∞–∫–∏–µ-–ª–∏–±–æ –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤ –¥–∞–ª—å–Ω–µ–π—à–∏—Ö —Ä–∞–±–æ—Ç–∞—Ö. –î–∞–ª–µ–µ –≤ —Ñ–∞–π–ª–µ —Ç—ã —Å–º–æ–∂–µ—à—å —É–≤–∏–¥–µ—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –ø–æ—Å—Ç–∞—Ä–∞–π—Å—è —É—á–µ—Å—Ç—å –∏—Ö –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ —Å–ª–µ–¥—É—é—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π.    

–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ –≤ –ø–µ—Ä–≤—É—é –æ—á–µ—Ä–µ–¥—å –Ω–∞ —Ç–µ, —á—Ç–æ –ø–æ–º–µ—á–∞–Ω—ã <span style="color:red">–∫—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º</span>. –ü–æ—Å–ª–µ –∏—Ö –¥–æ—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç. <span style="color:green">–ó–µ–ª–µ–Ω—ã–º —Ü–≤–µ—Ç–æ–º</span> –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö. <span style="color:orange">–û—Ä–∞–Ω–∂–µ–≤—ã–º —Ü–≤–µ—Ç–æ–º</span> –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã **—á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å** –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî **–ø–∏—à–∏ –æ–± —ç—Ç–æ–º**. –í—ã–±–µ—Ä–∏ –¥–ª—è —Å–≤–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ –∫–∞–∫–æ–π-—Ç–æ –∑–∞–º–µ—Ç–Ω—ã–π —Ü–≤–µ—Ç, —Ç–∞–∫ –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, **–Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏**. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ¬ª.

–í —Ü–µ–ª–æ–º —Ä–∞–±–æ—Ç–∞ —Ö–æ—Ä–æ—à–∞—è, –≤–∏–¥–Ω–æ, —á—Ç–æ —Ç—ã —Å—Ç–∞—Ä–∞–ª—Å—è. –î–æ—Ä–∞–±–∞—Ç—ã–≤–∞–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –æ—Ç–ø—Ä–∞–≤–ª—è–π —Ä–∞–±–æ—Ç—É –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é, —è –±—É–¥—É –∂–¥–∞—Ç—å üòâ

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>

–ü—Ä–∏–≤–µ—Ç, –†—É—Å—Ç–∞–º.
–ü—Ä–∏—è—Ç–Ω–æ –ø–æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è :)
    
–¢–≤–æ–µ —Ä–µ–≤—å—é –æ—á–µ–Ω—å –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω–æ–µ –∏ –∫—Ä—É—Ç–æ–µ —Ä–µ—à–µ–Ω–∏–µ –≤—ã–¥–µ–ª—è—Ç—å —Ü–≤–µ—Ç–æ–º, —ç—Ç–æ —É–¥–æ–±–Ω–æ.
    
–ö–∞–∫ –≤–∏–¥–∏—à—å —è –≤—ã–±—Ä–∞–ª —Å–∏–Ω–∏–π —Ü–≤–µ—Ç :)

</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 </h2>

–°—É–ø–µ—Ä! –°–ø–∞—Å–∏–±–æ –∑–∞ –±—ã—Å—Ç—Ä—É—é –¥–æ—Ä–∞–±–æ—Ç–∫—É –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤! –í—Å–µ –º–æ–º–µ–Ω—Ç—ã –±—ã–ª–∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã, —Ç–∞–∫ —á—Ç–æ —Ä–∞–±–æ—Ç—É —è –ø—Ä–∏–Ω–∏–º–∞—é. –î–æ–±–∞–≤–∏–ª –≤ –ø–∞—Ä—É –º–µ—Å—Ç–∞—Ö –µ—â–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –Ω–∞–¥–µ—é—Å—å —Ç—ã —É—á—Ç–µ—à—å –∏—Ö –≤ –ø–æ—Å–ª–µ–¥—É—é—â–∏—Ö —Ä–∞–±–æ—Ç–∞—Ö. –ë–ª–∞–≥–æ–¥–∞—Ä—é –∑–∞ —Å—Ç–∞—Ä–∞–Ω–∏—è –∏ –∏–Ω—Ç–µ—Ä–µ—Å –∏ –∂–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö üòä

</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ **–∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞** ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–ü–µ—Ä–µ–¥ –Ω–∞—á–∞–ª–æ–º –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –±–ª–æ–∫–∞ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –ø–æ–ª–µ–∑–Ω–æ –æ–ø–∏—Å–∞—Ç—å –¥–∞–Ω–Ω—ã–µ, —Å –∫–æ—Ç–æ—Ä—ã–º–∏ —Ä–∞–±–æ—Ç–∞–µ—à—å, –∫–∞–∫–∏–µ —à–∞–≥–∏ –ø–ª–∞–Ω–∏—Ä—É–µ—à—å –≤—ã–ø–æ–ª–Ω–∏—Ç—å, –º–æ–∂–Ω–æ –æ—Ñ–æ—Ä–º–∏—Ç—å –æ–≥–ª–∞–≤–ª–µ–Ω–∏–µ, –ø—Ä–∏–º–µ—Ä –º–æ–∂–Ω–æ [–∑–¥–µ—Å—å](https://fooobar.com/questions/49721/markdown-to-create-pages-and-table-of-contents) –ø–æ–¥—Å–º–æ—Ç—Ä–µ—Ç—å

</div>

### –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é.

In [1]:
import pandas as pd
from pymystem3 import Mystem
import pprint
from collections import Counter

df = pd.read_csv('/datasets/data.csv')
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [3]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

### –í—ã–≤–æ–¥

–í—Å–µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü–µ 12 —Å—Ç–æ–ª–±—Ü–æ–≤, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —É —Å—Ç–æ–ª–±—Ü–æ–≤ - int64, float64, object.

–ü–æ–¥—Ä–æ–±–Ω–æ —Ä–∞–∑–±–µ—Ä—ë–º, –∫–∞–∫–∏–µ –≤ df —Å—Ç–æ–ª–±—Ü—ã –∏ –∫–∞–∫—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–Ω–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç:

- children ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ
- days_employed ‚Äî –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö
- dob_years ‚Äî –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö
- education ‚Äî —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
- education_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
- family_status ‚Äî —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
- family_status_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è
- gender ‚Äî –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞
- income_type ‚Äî —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
- debt ‚Äî –∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤
- total_income ‚Äî –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥
- purpose ‚Äî —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞

–ù–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–ø–µ —è –≤–∏–∂—É –ø—Ä–æ–±–ª–µ–º—ã –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ —Ä–µ—à–∏—Ç—å: 

- –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Å –¥–Ω—è–º–∏ —Å—Ç–∞–∂–∞ –∏ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ
- —Ä–∞–∑–Ω—ã–π —Ä–µ–≥–∏—Å—Ç—Ä –≤ —Å—Ç–æ–ª–±—Ü–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
- —É –¥–µ—Ç–µ–π –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑–≤—Ä–∞—Å—Ç -1
- –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç –ª—é–¥–µ–π 0
- –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ –¥–Ω—è—Ö —Å—Ç–∞–∂–∞

–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥ describe() –¥–ª—è –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏—è –∞–Ω–æ–º–∞–ª–∏–π.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–ê –≤–∏–∂—É, –æ–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å, –∑–¥–æ—Ä–æ–≤–æ)

</div>

### –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

In [4]:
#—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
#–Ω–∞—Ö–æ–¥–∏–º –º–µ–¥–∏–∞–Ω—É –∏ —Å—Ä–µ–¥–Ω–µ–µ 
days_employed_median = df['days_employed'].median()
total_income_mean = df['total_income'].mean()

#–∑–∞–º–µ–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω—É –∏ —Å—Ä–µ–¥–Ω–µ–µ
df['days_employed'] = df['days_employed'].fillna(days_employed_median)
df['total_income'] = df['total_income'].fillna(total_income_mean)

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—é—å–µ—Ä–∞</h2>

–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ —Ç—ã –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—à—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∏ –∏—Å–ø–æ–ª—å–∑—É–µ—à—å –¥–ª—è –∑–∞–º–µ–Ω—ã —Å—Ä–µ–¥–Ω–µ–µ/–º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ. –û–¥–Ω–∞–∫–æ —Ç—ã –∏—Å–ø–æ–ª—å–∑—É–µ—à—å –¥–ª—è –≤—Å–µ—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ–¥–Ω–æ –∑–Ω–∞—á–µ–Ω–∏–µ, —Ç.–µ, –Ω–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ ¬´–î–æ—Ö–æ–¥—ã –≤ –º–µ—Å—è—Ü¬ª (total_income) —É –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä–∞ –∏ –ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—è, —Ç—ã –ø—Ä–æ–ø–∏—Å—ã–≤–∞–µ—à—å –∏–º –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –¥–æ—Ö–æ–¥. –ú–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –∑–∞–º–µ–Ω—è—Ç—å –Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ –≥—Ä—É–ø–ø–∞–º, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ `income_type` 

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>
    
–Ø –≤–æ—Ç –ø–æ–¥—É–º–∞–ª –∫–∞–∫ —ç—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å, –Ω–æ —á—Ç–æ—Ç–æ –Ω–µ –ø—Ä–∏—Ö–æ–¥–∏—Ç –Ω–∞ —É–º –Ω–∏—á–µ–≥–æ. 

df.groupby('income_type') –∏ –∑–∞–Ω–æ—Å–∏—Ç—å –≤ —Ä–∞–∑–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –∏ –º–µ—Ç–æ–¥–æ–º fillna –ø–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –≤ —Ä–∞–∑–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤—Ä—É—á–Ω—É—é?

<div>

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 </h2>

–í –ø—Ä–∏–Ω—Ü–∏–ø–µ –¥–∞, —Ç–æ–ª—å–∫–æ –º–æ–∂–Ω–æ –Ω–µ –∑–∞–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –≤ —Ä–∞–∑–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –∞ –¥–µ–ª–∞—Ç—å —Å—Ä–∞–∑—É –∑–∞–º–µ–Ω—É, —Ç.–µ —Ç–∞–∫
    
    df['total_income'] = df.groupby('income_type')['total_income'].apply(lambda x: x.fillna(x.median()))

</div>

In [6]:
#–ø—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–º–µ–Ω—ã
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### –í—ã–≤–æ–¥

–ü—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å–≤–∏–¥–µ—Ç–µ–ª—å—Å—Ç–≤—É—é—Ç, —á—Ç–æ –¥–ª—è –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–æ—Å—Ç—É–ø–Ω–∞ –Ω–µ –≤—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è. 

–ó–∞–º–µ–Ω—è–µ–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –∏ total_income –º–µ—Ç–æ–¥–æ–º fillna().

–ó–∞–º–µ–Ω–∏–ª –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ, –∞ total_income –Ω–∞ –º–µ–¥–∏–∞–Ω—É, —Ç–∞–∫ –∫–∞–∫ –≤—ã–±—Ä–æ—Å—ã –≤ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ –º–æ–≥—É—Ç –∏—Å–∫–∞–∑–∏—Ç—å –¥–∞–ª—å–Ω–µ–π—à–∏–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è.

–ü—Ä–æ–ø—É—Å–∫–∏ –º–æ–≥–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –∏–∑–∑–∞ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–æ–≥–æ —Ñ–∞–∫—Ç–æ—Ä–∞ –∏ —Å–±–æ–µ–º –Ω–∞ —Å–µ—Ä–≤–µ—Ä–µ.

### –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö

In [7]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

In [8]:
#–ø–æ—Å–º–æ—Ç—Ä–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å –¥–µ—Ç—å–º–∏
df['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [9]:
#–ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π —Å -1
df[df['children'] == -1]['children'].count()

47

In [10]:
#–∑–∞–º–µ–Ω–∏–º -1 –Ω–∞ 1
df['children'] = df['children'].replace(-1, 1)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–û—Ç–ª–∏—á–Ω–æ–µ –∏—Å–ø–æ–ª–Ω–µ–Ω–∏–µ!

</div>

In [11]:
#–ø—Ä–æ–≤–µ—Ä—è–µ–º
df[df['children'] == -1]['children'].count()

0

In [12]:
#–∑–∞–º–µ–Ω—è–µ–º –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –º–µ—Ç–æ–¥–æ–º –∏ –ø–µ—Ä–µ–≤–æ–¥–∏–º –≤ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π —Ç–∏–ø
df['days_employed'] = df['days_employed'].astype(int).abs()

In [13]:
#–ø—Ä–æ–≤–µ—Ä–∏–º –≤–æ–∑—Ä–∞—Å—Ç –ª—é–¥–µ–π
df['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75])

In [14]:
#—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç—É –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é
dob_years_mean = df['dob_years'].mean()

In [15]:
#—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª—é–¥–µ–π —Å –≤–æ–∑—Ä–∞—Å—Ç–æ–º 0 
df[df['dob_years'] == 0]['dob_years'].count()

101

In [16]:
#–∑–∞–º–µ–Ω—è–µ–º –ª—é–¥–µ–π —Å 0 –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ
df['dob_years'] = df['dob_years'].replace(0, dob_years_mean)

In [17]:
#–ø—Ä–æ–≤–µ—Ä—è–µ–º
df[df['dob_years'] == 0]['dob_years'].count()

0

In [18]:
#–ø—Ä–æ–≤–µ—Ä–∏–º —Å–µ–º–µ–π–Ω—ã–π —Å—Ç–∞—Ç—É—Å
df['family_status'].unique()

array(['–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º', '–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫', '–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞',
       '–≤ —Ä–∞–∑–≤–æ–¥–µ', '–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º'], dtype=object)

In [19]:
#–ø—Ä–∏–≤–µ–¥–µ–º –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df['family_status'].str.lower()

0         –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
1         –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
2         –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
3         –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
4        –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫
               ...
21520    –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫
21521     –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
21522    –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫
21523     –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
21524     –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
Name: family_status, Length: 21525, dtype: object

In [20]:
#—Å–º–æ—Ç—Ä–∏–º —á—Ç–æ —Å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º
df['education'].unique()

array(['–≤—ã—Å—à–µ–µ', '—Å—Ä–µ–¥–Ω–µ–µ', '–°—Ä–µ–¥–Ω–µ–µ', '–°–†–ï–î–ù–ï–ï', '–í–´–°–®–ï–ï',
       '–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–Ω–∞—á–∞–ª—å–Ω–æ–µ', '–í—ã—Å—à–µ–µ',
       '–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï', '–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–ù–ê–ß–ê–õ–¨–ù–û–ï',
       '–ù–∞—á–∞–ª—å–Ω–æ–µ', '–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å', '–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨', '—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å'],
      dtype=object)

In [21]:
#–ø—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df['education'] = df['education'].str.lower()

In [22]:
#–ø—Ä–æ–≤–µ—Ä—è–µ–º
df['education'].unique()

array(['–≤—ã—Å—à–µ–µ', '—Å—Ä–µ–¥–Ω–µ–µ', '–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–Ω–∞—á–∞–ª—å–Ω–æ–µ',
       '—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å'], dtype=object)

In [23]:
#—Å–º–æ—Ç—Ä–∏–º –ø–æ–ª
df['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [24]:
#–ø–æ–ª—É—á–∞–µ–º —Å—Ç—Ä–æ–∫–∏ —Å –Ω–µ–ø–æ–Ω—è—Ç–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º XNA
df[df['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10701,0,2358,24.0,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,XNA,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,203905.157261,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [25]:
#–æ–¥–Ω–∞ —Å—Ç—Ä–æ–∫–∞ –æ—Å–æ–±–æ –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –Ω–µ –ø–æ–≤–ª–∏—è–µ—Ç, –∑–∞–º–µ–Ω–∏–º –Ω–∞ –ú
df['gender'] = df['gender'].replace('XNA', 'M')

In [26]:
#–ø—Ä–æ–≤–µ—Ä—è–µ–º
df[df['gender'] == 'XNA']

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [27]:
#–ø–æ—Å–º–æ—Ç—Ä–∏–º —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏, –≤—Å–µ –æ–∫
df['income_type'].unique()

array(['—Å–æ—Ç—Ä—É–¥–Ω–∏–∫', '–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä', '–∫–æ–º–ø–∞–Ω—å–æ–Ω', '–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π',
       '–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π', '–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å', '—Å—Ç—É–¥–µ–Ω—Ç', '–≤ –¥–µ–∫—Ä–µ—Ç–µ'],
      dtype=object)

In [28]:
#–ø–µ—Ä–µ–≤–µ–¥–µ–º –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥ –≤ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π —Ç–∏–ø
df['total_income'] = df['total_income'].astype(int)

In [29]:
#–ø–æ—Å–º–æ—Ç—Ä–∏–º —á—Ç–æ —Å —Ç–∞–±–ª–∏—Ü–µ–π :)
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42.0,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024,36.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623,33.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124,32.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266,53.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926,27.0,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879,43.0,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152,50.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929,35.0,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188,41.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

### –í—ã–≤–æ–¥

- –ü—Ä–æ–∏–∑–≤–µ–ª –∑–∞–º–µ–Ω—É -1 –≤ –¥–µ—Ç—è—Ö
- –∑–∞–º–µ–Ω–∏–ª –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–∞–∂–µ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π –∏ —É–±—Ä–∞–ª –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, —Ç–∞–∫ —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞–Ω–Ω—ã–º–∏ —É–¥–æ–±–Ω–µ–µ
- –∑–∞–º–µ–Ω–∏–ª –≤–æ–∑–≤—Ä–∞—Å—Ç —Å 0 –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É
- –ø—Ä–∏–≤–µ–ª –≤ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä —Å–µ–º–µ–π–Ω—ã–π —Å—Ç–∞—Ç—É—Å
- —É–±—Ä–∞–ª –Ω–µ–ø–æ–Ω—è—Ç–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ XNA –≤ —Å—Ç–æ–ª–±—Ü–µ —Å –ø–æ–ª–æ–º –Ω–∞ –º—É–∂—Å–∫–æ–π
- –ø–µ—Ä–µ–≤–µ–ª –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–∞–∂–µ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π –≤ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã

–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥—ã:

- str.lower() - –¥–ª—è –ø—Ä–∏–≤–µ–¥–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
- replace() - –¥–ª—è –∑–∞–º–µ–Ω—ã –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç—Ä–æ–∫–∞—Ö
- astype() - –¥–ª—è –∑–∞–º–µ–Ω—ã –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–≥–æ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π
- unique() - –¥–ª—è –ø–æ–∏—Å–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- abs() - –¥–ª—è –≤–æ–∑–≤–µ–¥–µ–Ω–∏—è —á–∏—Å–ª–∞ –ø–æ –º–æ–¥—É–ª—é, —Ç–µ–º —Å–∞–º—ã–º –∏–∑–±–∞–≤–∏–ª—Å—è –æ—Ç –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö —á–∏—Å–µ–ª

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ö–æ–¥ —Ç–≤–æ–∏—Ö –º—ã—Å–ª–µ–π. –¢—ã –Ω–µ —Ç–æ–ª—å–∫–æ –∑–∞–º–µ–Ω–∏–ª –ø—Ä–æ–ø—É—Å–∫–∏, –Ω–æ –∏ –¥–µ—Ç–∞–ª—å–Ω–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–ª –∫–∞–∂–¥—ã–π –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤, –ø–æ—Ä–∞–±–æ—Ç–∞–ª —Å –≤—ã–±—Ä–æ—Å–∞–º–∏

</div>

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [30]:
#—Å—á–∏—Ç–∞–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã
df.duplicated().sum()

71

In [31]:
df = df.drop_duplicates().reset_index(drop=True)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–ú–æ–ª–æ–¥–µ—Ü, —á—Ç–æ –ø—Ä–∏–≤–æ–¥–∏—à—å –¥–∞–Ω–Ω—ã–µ –∫ –æ–±—â–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –¥–µ–ª–∞–µ—à—å —ç—Ç–æ –¥–æ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, –≤–µ–¥—å —ç—Ç–æ –º–æ–∂–µ—Ç –ø–æ–≤–ª–∏—è—Ç—å –Ω–∞ –∏—Ö –∫–æ–ª-–≤–æ

</div>

In [32]:
#–ø—Ä–æ–≤–µ—Ä–∏–º
df.duplicated().sum()

0

### –í—ã–≤–æ–¥

–ú–µ—Ç–æ–¥–æ–º duplicated().sum() –æ–ø—Ä–µ–¥–µ–ª–∏–ª –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ - 71.
–° –ø–æ–º–æ—â—å—é drop_duplicates().reset_index(drop=True) —É–¥–∞–ª–∏–ª –≤—Å–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –∏ –æ–±–Ω–æ–≤–∏–ª –∏–Ω–¥–µ–∫—Å—ã.

–î—É–±–ª–∏–∫–∞—Ç—ã –º–æ–≥—É—Ç –ø–æ—è–≤–ª—è—Ç—å –∏–∑-–∑–∞ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–æ–≥–æ —Ñ–∞–∫—Ç–æ—Ä–∞, –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–π –æ—à–∏–±–∫–∏.

### –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

In [33]:
m = Mystem()

In [34]:
#–Ω–∞—Ö–æ–¥–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ —Å —Ü–µ–ª—è–º–∏ –∫—Ä–µ–¥–∏—Ç–∞ –∏ –ø–µ—Ä–µ–≤–æ–¥–∏–º –≤ —Å–ø–∏—Å–æ–∫
unique_purposes = df['purpose'].unique().tolist()
unique_purposes

['–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è',
 '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
 '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
 '—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É',
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º',
 '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
 '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã',
 '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏',
 '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å',
 '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
 '–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
 '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
 '–∂–∏–ª—å–µ',
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
 '–∞–≤—Ç–æ–º–æ–±–∏–ª–∏',
 '–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º',
 '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
 '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
 '–∞–≤—Ç–æ–º–æ–±–∏–ª—å',
 '—Å–≤–∞–¥—å–±–∞',
 '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
 '–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è',
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
 '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
 '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å',
 '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
 '–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
 '–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
 '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏',
 '–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
 '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é',
 '–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º']

In [35]:
#—Å–æ–µ–¥–∏–Ω—è–µ–º —Å–æ–±–∞—Ä–Ω–Ω—ã–π —Å–ø–∏—Å–æ–∫ —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º –ø—Ä–æ–±–µ–ª
string = ' '.join(unique_purposes)
pprint.pprint(string)

('–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å—ã–≥—Ä–∞—Ç—å '
 '—Å–≤–∞–¥—å–±—É –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã –ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è '
 '–¥–ª—è —Å–µ–º—å–∏ –ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –ø–æ–∫—É–ø–∫–∞ '
 '–∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ —Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å '
 '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è –Ω–∞ –ø–æ–∫—É–ø–∫—É '
 '—Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é —Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π '
 '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –∂–∏–ª—å–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∞–≤—Ç–æ–º–æ–±–∏–ª–∏ –∑–∞–Ω—è—Ç—å—Å—è '
 '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º —Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è '
 '–∞–≤—Ç–æ–º–æ–±–∏–ª—å —Å–≤–∞–¥—å–±–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ '
 '–∂–∏–ª—å—è –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è —Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å '
 '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º –ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è '
 '–¥–ª—è —Å–¥–∞—á–∏ –Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è —Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é –∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º')

In [36]:
#–ª–µ–º–º–∞—Ç–∏–∑–∏—Ä—É–µ–º –∏ —Å–æ—Ö—Ä–∞–Ω–∏–º –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é, –∞ —Ç–∞–∫ –∂–µ —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π
lemmas = m.lemmatize(string)
pprint.pprint(Counter(lemmas))

Counter({' ': 96,
         '–ø–æ–∫—É–ø–∫–∞': 10,
         '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å': 10,
         '–∞–≤—Ç–æ–º–æ–±–∏–ª—å': 9,
         '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ': 9,
         '–∂–∏–ª—å–µ': 7,
         '—Å': 5,
         '–æ–ø–µ—Ä–∞—Ü–∏—è': 4,
         '–Ω–∞': 4,
         '—Å–≤–æ–π': 4,
         '—Å–≤–∞–¥—å–±–∞': 3,
         '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ': 3,
         '–ø–æ–ª—É—á–µ–Ω–∏–µ': 3,
         '–≤—ã—Å–æ–∫–∏–π': 3,
         '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π': 2,
         '–¥–ª—è': 2,
         '–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π': 2,
         '–∂–∏–ª–æ–π': 2,
         '–ø–æ–¥–µ—Ä–∂–∞—Ç—å': 2,
         '–∑–∞–Ω–∏–º–∞—Ç—å—Å—è': 2,
         '—Å–¥–µ–ª–∫–∞': 2,
         '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ': 1,
         '—Å—ã–≥—Ä–∞—Ç—å': 1,
         '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ': 1,
         '—Å–µ–º—å—è': 1,
         '—Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–π': 1,
         '—Å–æ': 1,
         '–ø—Ä–æ—Ñ–∏–ª—å–Ω—ã–π': 1,
         '—Å–¥–∞—á–∞': 1,
         '—Ä–µ–º–æ–Ω—Ç': 1,
         '\n': 1})

–ù–µ—Ö–∏—Ç—Ä—ã–º —Å–ø–æ—Å–æ–±–æ–º (—Ä—É—á–∫–∞–º–∏) –æ–ø—Ä–µ–¥–µ–ª–∏–º –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –ª—é–¥–∏ –∂–µ–ª–∞—é—Ç –≤–∑—è—Ç—å –∫—Ä–µ–¥–∏—Ç:

- –ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
- –ê–≤—Ç–æ–º–æ–±–∏–ª—å
- –û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
- –°–≤–∞–¥—å–±–∞

–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥—ã:

- m.lemmatize() - –¥–ª—è –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –ø–æ–ª—É—á–µ–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö
- –±–∏–±–ª–∏–æ—Ç–µ–∫—É pprint –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö
- tolist() - –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö –≤ —Å–ø–∏—Å–æ–∫ –∏ –ø–æ–¥—Å—á–µ—Ç–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –∑–Ω–∞—á–µ–Ω–∏–π

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–ñ–∏—Ä–Ω—ã–π –ø–ª—é—Å! –≠—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–ª–æ–∂–Ω–µ–π—à–∏—Ö —ç—Ç–∞–ø–æ–≤ –ø—Ä–æ–µ–∫—Ç–∞, —Å–ø—Ä–∞–≤–∏–ª—Å—è –Ω–∞ –æ—Ç–ª–∏—á–Ω–æ

</div>

### –í—ã–≤–æ–¥

–õ–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–ª–∏ –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–¥–µ–ª–µ–ª–∏ 4 –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –ª—é–¥–∏ —Ö–æ—Ç—è—Ç –≤–∑—è—Ç—å –∫—Ä–µ–¥–∏—Ç.

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [37]:
#—Ä–∞—Å–ø—Ä–µ–¥–µ–ª–∏–º –µ–∂–µ–º–µ—Å—è–Ω—ã–π –¥–æ—Ö–æ–¥ –ø–æ –∫–≤–∞–Ω—Ç–∏–ª—è–º
df['total_income'].quantile([0.25,0.5,0.75])

0.25    107623.00
0.50    156043.50
0.75    195813.25
Name: total_income, dtype: float64

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–í—Å–µ —Ö–æ—Ä–æ—à–æ üëè –ó–¥–µ—Å—å, –∫—Å—Ç–∞—Ç–∏ –¥–ª—è –¥–µ–ª–µ–Ω–∏—è –º–æ–∂–Ω–æ –±—ã–ª–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥  [qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html). –í —ç—Ç–æ–º —Å–ª—É—á–∞–µ –¥–µ–ª–µ–Ω–∏–µ –±—É–¥–µ—Ç –ø—Ä–æ–≤–æ–¥–∏—Ç—å—Å—è –ø–æ –ø—Ä–æ—Ü–µ–Ω–∏–ª—è–º, –∞ –∫–æ–ª-–≤–æ –≥—Ä—É–ø–ø –º–æ–∂–Ω–æ –≤—ã–±–∏—Ä–∞—Ç—å —Å–∞–º–æ–º—É)

</div>

–ö—Ä—É—Ç–∞—è –∏–¥–µ—è, –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –≤–æ–∑—å–º—É –Ω–∞ –∑–∞–º–µ—Ç–∫—É :)

In [38]:
#–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏—Å–≤–∞–∏–≤–∞–µ—Ç –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é (—Ü–µ–ª—å)
def credit_category(purpose):
    if '–æ–±—Ä–∞–∑–æ–≤–∞–Ω' in purpose:
        return '–û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'
    elif '–∞–≤—Ç–æ' in purpose:
        return '–ê–≤—Ç–æ–º–æ–±–∏–ª—å'
    elif '—Å–≤–∞–¥—å' in purpose:
        return '–°–≤–∞–¥—å–±–∞'
    else:
        return '–ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å'
    
#–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä—É–µ—Ç —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
def total_income_category_rev(total_income):
    if total_income <= df['total_income'].quantile(0.25):
        return '–Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞'
    elif total_income <=  df['total_income'].quantile(0.5):
        return '—Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞'
    elif total_income < df['total_income'].quantile(0.75):
        return '–≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞'
    else:
        return '—Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞'

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–§—É–Ω–∫—Ü–∏–∏ –æ–≥–æ–Ω—å üî•. –ï–¥–Ω—Å—Ç–≤–µ–Ω–Ω–æ–µ —Å–æ–≤–µ—Ç—É—é –Ω–µ –ø—Ä–æ–ø–∏—Å—ã–≤–∞—Ç—å —á–∏—Å–ª–∞–º–∏ –≥—Ä–∞–Ω–∏—Ü—ã, –∞ –Ω–∞–ø—Ä—è–º—É—é –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ `df['total_income'].quantile([0.25,0.5,0.75])`. –¢–∞–∫, –µ—Å–ª–∏ –¥–∞–Ω–Ω—ã–µ –±—É–¥—É—Ç –∏–∑–º–µ–Ω–µ–Ω—ã, –Ω–µ –ø—Ä–∏–¥–µ—Ç—Å—è –ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>

–ë–æ–ª—å—à–æ–µ —Å–ø–∞—Å–∏–±–æ –∑–∞ —Å–æ–≤–µ—Ç, –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –µ—Å–ª–∏ –¥–∞–Ω–Ω—ã–µ –∏–∑–º–µ–Ω—è—Ç—å—Å—è –Ω—É–∂–Ω–æ –ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞—Ç—å, –≤–µ–∫ –∂–∏–≤–∏, –≤–µ–∫ —É—á–∏—Å—å :)

–ü–æ–ø—ã—Ç–∞–ª—Å—è –∏–∑–º–µ–Ω–∏—Ç—å –ø–æ —Ç–≤–æ–µ–º—É —Å–æ–≤–µ—Ç—É –æ–±—Ä–∞—â–∞—Ç—å—Å—è –ø–æ –∫–≤–∞–Ω—Ç–∏–ª—è–º, –Ω–æ —á–µ—Ç –ø–æ–ª—É—á–∏–ª –æ—à–∏–±–∫—É(
–ú–æ–∂–µ—Ç –ø–æ–¥—Å–∫–∞–∂–µ—à—å –ø–æ—á–µ–º—É —Ç–∞–∫ –ø–æ–ª—É—á–∞–µ—Ç—Å—è?

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
   

</div>

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 </h2>

–í—Å—Ç–∞–≤–ª—è–π –∫–æ–¥ —Ü–µ–ª–∏–∫–æ–º, –∫–∞–∫ —Ç—ã —Ö–æ—Ç–µ–ª —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å, —Ç–∞–∫ –Ω–µ —Å–æ–≤—Å–µ–º –ø–æ–Ω—è—Ç–Ω–æ, –≥–¥–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –æ—à–∏–±–∫–∞. –Ø –ø—Ä–æ–≤–µ—Ä–∏–ª –Ω–∏–∂–µ, –≤—Ä–æ–¥–µ –≤ –º–æ–µ–º –∏—Å–ø–æ–ª–Ω–µ–Ω–∏–∏ —Ä–∞–±–æ—Ç–∞–µ—Ç –Ω–æ—Ä–º)) –°–≤—è–∂–∏—Å—å —Å–æ –º–Ω–æ–π —á–µ—Ä–µ–∑ –∫—É—Ä–∞—Ç–æ—Ä–∞, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –±—É–¥–µ—Ç –Ω–µ –ø–æ–ª—É—á–∞—Ç—å—Å—è

</div>

In [39]:
df.loc[:10, 'total_income'].apply(total_income_category_rev)

0     —Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
1           —Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
2           —Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
3     —Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
4           –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
5     —Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
6     —Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
7           —Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
8            –Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
9           —Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
10          —Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
Name: total_income, dtype: object

In [40]:
#–¥–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±—Ü—ã —Å –≤—ã–¥–µ–ª–µ–Ω–Ω—ã–º–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏ –∏ –ø—Ä–∏–º–µ–Ω—è–µ–º —Ä–∞–Ω–µ–µ –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏—é

df['credit_category'] = df['purpose'].apply(credit_category)

df['total_income_category'] = df['total_income'].apply(total_income_category_rev)

In [41]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,credit_category,total_income_category
0,1,8437,42.0,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å,—Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
1,1,4024,36.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–ê–≤—Ç–æ–º–æ–±–∏–ª—å,—Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
2,0,5623,33.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å,—Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
3,3,4124,32.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,—Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞
4,0,340266,53.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,–°–≤–∞–¥—å–±–∞,–≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞

### –í—ã–≤–æ–¥

–ù–∞–ø–∏—Å–∞–ª —Ñ—É–Ω–∫—Ü–∏–∏ –∫–æ—Ç–æ—Ä—ã–µ –≤—ã–¥–µ–ª—è—é—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥ apply –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –∫ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ. –¢–∞–∫ –∂–µ, –ø—Ä–∏–º–µ–Ω–∏–ª –º–µ—Ç–æ–¥ quantile() –¥–ª—è —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –Ω–∞ –∫–≤–∞–Ω—Ç–∏–ª–∏.

### –®–∞–≥ 3. –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [42]:
#—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ –Ω–∞–ª–∏—á–∏—é –¥–µ—Ç–µ–π
children_pivot = df.pivot_table(index=['children'], columns=['debt'], values='purpose', aggfunc='count')
children_pivot['ratio'] = children_pivot[1] / (children_pivot[0] + children_pivot[1])
children_pivot.style.format({'ratio': '{:.2%}'})

<div class="alert alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–û—Ç–ª–∏—á–Ω—ã–µ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã, –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω–æ–µ —Ç—ã –∑–¥–µ—Å—å —Å—á–∏—Ç–∞–µ—à—å –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –Ω–µ–¥–æ–ª–∂–Ω–∏–∫–æ–≤. –í –¥–∞–Ω–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ, –±–æ–ª–µ–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω–æ –±—É–¥–µ—Ç –ø–æ—Å—á–∏—Ç–∞—Ç—å –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –≤—Å–µ—Ö –≥—Ä—É–ø–ø, —Ç.–µ –≤ –∑–Ω–∞–º–µ–Ω–∞—Ç–µ–ª–µ –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å —Å—É–º–º–∞

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>

–î–æ–±–∞–≤–∏–ª –≤ –∑–Ω–∞–º–µ—Ç–µ–ª—å —Å—É–º–º—É –∏–Ω–¥–µ–∫—Å–∞ 0 + 1.

</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 </h2>

–°—É–ø–µ—Ä üî•

</div>

### –í—ã–≤–æ–¥

–í —Ü–µ–ª–æ–º, –±–µ–∑–¥–µ—Ç–Ω—ã–µ –ª—é–¥–∏ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ. –ù–æ –Ω–µ –ø–æ–Ω—è–ª –ø–æ—á–µ–º—É –ø–æ—Ç–µ—Ä—è–ª–∏—Å—å –¥–∞–Ω–Ω—ã–µ —Å 5 –¥–µ—Ç—å–º–∏.

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [43]:
#—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–∏–Ω–∏–µ–º
family_status_pivot = df.pivot_table(index=['family_status'], columns=['debt'], values='total_income', aggfunc='count')
family_status_pivot['ratio'] = family_status_pivot[1] / family_status_pivot[0] 
family_status_pivot.style.format({'ratio': '{:.2%}'})

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–£ —Ç–µ–±—è –æ—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞!
    
–ú–æ–∂–µ—Ç —Ç–µ–±–µ –±—É–¥–µ—Ç –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ: –¥–ª—è —É–ª—É—á—à–µ–Ω–∏—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞, –º–æ–∂–Ω–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è [style](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `pandas`. –¢–∞–º –º–Ω–æ–≥–æ –ø—Ä–∏–∫–æ–ª—å–Ω—ã—Ö —à—Ç—É–∫ –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∫—Ä–∞—Å–∏–≤–µ–µ üòä
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤ –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ, —á—Ç–æ–±—ã –≤—ã–≤–æ–¥–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö, –∞ –Ω–µ –≤ –¥–æ–ª—è—Ö, –º–æ–∂–Ω–æ –ø—Ä–æ–ø–∏—Å–∞—Ç—å —Å–ª–µ–¥—É—é—â–µ–µ:
    
`children_pivot.style.format({'ratio': '{:.2%}'})`  
    
</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>

–î–æ–±–∞–≤–∏–ª –≤ –≤—ã–≤–æ–¥ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã family_status_pivot.style.format({'ratio': '{:.2%}'})

–¢–∞–∫ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω–µ–µ.

</div>

### –í—ã–≤–æ–¥

–°–µ–º–µ–π—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫, –≤–¥–æ–≤—Ü—ã –∏ —Ä–∞–∑–≤–µ–¥–µ–Ω–Ω—ã–µ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ.

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [44]:
#—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —É—Ä–æ–≤–Ω—è –¥–æ—Ö–æ–¥–∞, –≤–∫–ª—é—á–∞—è –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ—Å—Ä–æ—á–∫–∏ –∫—Ä–µ–¥–∏—Ç–∞ –∏ —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
total_income_pivot = df.pivot_table(index=['total_income_category'], columns=['debt'], values='education_id', aggfunc='count')
total_income_pivot['ratio'] = total_income_pivot[1] / total_income_pivot[0] 
total_income_pivot.style.format({'ratio': '{:.2%}'})

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–¢–∞–∫–∂–µ –∑–¥–µ—Å—å –º–æ–∂–Ω–æ –±—ã–ª–æ –Ω–µ —É–∫–∑—ã–≤–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä `column`, –∞ –Ω–∞—Ö–æ–¥–∏—Ç—å —Å—Ä–∞–∑—É —Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ `debt`. –¢.–µ `column` —É–±—Ä–∞—Ç—å, –≤ `values` –∑–∞–¥–∞—Ç—å `dept`, –∞ –≤ `aggfunc` - 'mean' 

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>

–Ø –≤–æ—Ç –∫–æ–≥–¥–∞ –ø—ã—Ç–∞—é—Å—å —Ç–∞–∫ –¥–µ–ª–∞—Ç—å —É –º–µ–Ω—è –≤—ã–¥–∞–µ—Ç –æ—à–∏–±–∫—É.
    
–ü–æ—Å–º–æ—Ç—Ä–∏, –ø–ª–∏–∑, –Ω–∏–∂–µ
    
</div>

<div class="alert alert-warning">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 </h2>

–í –æ—à–∏–±–∫–µ –≥–æ–≤–æ—Ä–∏—Ç—Å—è, —á—Ç–æ —É —Ç–µ–±—è –Ω–µ—Ç —Å—Ç–æ–ª–±—Ü–∞ —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º `1`. –ò —ç—Ç–æ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ —Ç–∞–∫: `df.pivot_table(index=['total_income_category'], values='debt', aggfunc='mean')` –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —É–∂–µ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –∏ –Ω–∏—á–µ–æ –¥–æ–ø-–≥–æ —Å—á–∏—Ç–∞—Ç—å –Ω–µ –Ω—É–∂–Ω–æ. –ü—Ä–æ–≤–µ—Ä—å —Å–∞–º)

</div>

In [45]:
#–ø—Ä–æ–≤–µ—Ä–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª—é–¥–µ–π –≤ –≥—Ä—É–ø–ø–∞—Ö, —á—Ç–æ –±—ã –ø–æ–Ω—è—Ç—å –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ –ª–∏ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –ª—é–¥–µ–π —Å —Ä–∞–∑–Ω—ã–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞
df['total_income_category'].value_counts(normalize = True)

—Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞    0.250023
–Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞           0.250023
–≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞          0.249977
—Å—Ä–µ–¥–Ω–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞          0.249977
Name: total_income_category, dtype: float64

### –í—ã–≤–æ–¥

–ö–∞–∫ –∏ –æ–∂–∏–¥–∞–ª–æ—Å—å –ª—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ —á–µ–º –ª—é–¥–∏ —Å —Å—Ä–µ–¥–Ω–∏–º –∏ –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞, –Ω–æ –æ–±—ä—è—Å–Ω–∏—Ç—å –ø—Ä–∏—á–∏–Ω—É –ø–æ—á–µ–º—É –ª—é–¥–∏ —Å–æ —Å–≤–µ—Ä—Ö –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ —á–µ–º –ª—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º - –Ω–µ –º–æ–≥—É.

- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [46]:
#—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º 
credit_category_pivot = df.pivot_table(index=['credit_category'], columns=['debt'], values='education_id', aggfunc='count')
credit_category_pivot['ratio'] = credit_category_pivot[1] / credit_category_pivot[0] 
credit_category_pivot.style.format({'ratio': '{:.2%}'})

### –í—ã–≤–æ–¥

–õ—é–¥–∏ –∫–æ—Ç–æ—Ä—ã–µ –±–µ—Ä—É—Ç –∫—Ä–µ–¥–∏—Ç –Ω–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å –∏ —Å–≤–∞–¥—å–±—É –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –º–µ–Ω—å—à–µ, –Ω–µ–∂–µ–ª–∏ –µ—Å–ª–∏ –±–µ—Ä—É—Ç –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å –∏ —Å–≤–∞–¥—å–±—É.

### –®–∞–≥ 4. –û–±—â–∏–π –≤—ã–≤–æ–¥

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –±—ã–ª–∏ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω—ã —Å–ª–µ–¥—É—é—â–∏–µ —à–∞–≥–∏:

**1. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö**

- –í –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ, –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –∏ total_income –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –≤ –ø–æ—Å–ª–µ–¥—Å—Ç–≤–∏–∏ –±—ã–ª–∏ –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ –º–µ–¥–∏–∞–Ω—É –∏ —Å—Ä–µ–¥–Ω–µ–µ, —Ç–∞–∫ –∫–∞–∫ –≤—ã–±—Ä–æ—Å—ã –≤ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ –º–æ–≥–ª–∏ –∏—Å–∫–∞–∑–∏—Ç—å –¥–∞–ª—å–Ω–µ–π—à–∏–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è
- –∑–∞–º–µ–Ω–∏–ª –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–∞–∂–µ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π –∏ —É–±—Ä–∞–ª –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ 
- –∑–∞–º–µ–Ω–∏–ª –≤–æ–∑–≤—Ä–∞—Å—Ç —Å 0 –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É
- –ø—Ä–∏–≤–µ–ª –≤ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä —Å–µ–º–µ–π–Ω—ã–π —Å—Ç–∞—Ç—É—Å
- —É–±—Ä–∞–ª –Ω–µ–ø–æ–Ω—è—Ç–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ XNA –≤ —Å—Ç–æ–ª–±—Ü–µ —Å –ø–æ–ª–æ–º –Ω–∞ –º—É–∂—Å–∫–æ–π (1 —Å—Ç—Ä–æ–∫–∞ –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –Ω–µ –ø–æ–≤–ª–∏—è–µ—Ç - –¥–æ–ø—É—Å—Ç–∏–º–æ)
- –ø–µ—Ä–µ–≤–µ–ª –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–∞–∂–µ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π –≤ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã

–ú–æ–≥—É –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –º–æ–≥–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –∏–∑-–∑–∞ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–æ–≥–æ —Ñ–∞–∫—Ç–æ—Ä–∞, —Å–±–æ—è –Ω–∞ —Å–µ—Ä–≤–µ—Ä–µ –∏–ª–∏ –ø—Ä–∏ –≤—ã–≥—Ä—É–∑–∫–µ –∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö.

**2. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö**

–ë—ã–ª–∏ –Ω–∞–ø–∏—Å–∞–Ω—ã —Ñ—É–Ω–∫—Ü–∏–∏ –∫–æ—Ç–æ—Ä—ã–µ –≥—Ä—É–ø–ø–∏—Ä—É—é—Ç –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥ apply –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –∫ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ –∏ –±—ã–ª–∏ –≤—ã–¥–µ–ª–µ–Ω—ã –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø–æ —É—Ä–æ–≤–Ω—é –µ–∂–µ–º–µ—Å—è—á–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞ –∏ –≤—ã–¥–µ–ª–µ–Ω—ã –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø–æ—Å–ª–µ –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã.

**3. –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è**

–õ–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–ª–∏ –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–¥–µ–ª–µ–ª–∏ 4 –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –ª—é–¥–∏ —Ö–æ—Ç—è—Ç –≤–∑—è—Ç—å –∫—Ä–µ–¥–∏—Ç, –∞ –∏–º–µ–Ω–Ω–æ:

- –ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
- –ê–≤—Ç–æ–º–æ–±–∏–ª—å
- –û–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
- –°–≤–∞–¥—å–±–∞

**4. –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã - —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è**

–ü–æ—Å—Ç—Ä–æ–∏–ª —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö —Å–¥–µ–ª–∞–ª –≤—ã–≤–æ–¥—ã:

- –±–µ–∑–¥–µ—Ç–Ω—ã–µ –ª—é–¥–∏ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ
- —Å–µ–º–µ–π—Å—Ç–≤–µ–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫, –≤–¥–æ–≤—Ü—ã –∏ —Ä–∞–∑–≤–µ–¥–µ–Ω–Ω—ã–µ –ª—é–¥–∏ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ
- –ª—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ —á–µ–º –ª—é–¥–∏ —Å–æ —Å—Ä–µ–¥–Ω–∏–º –∏ –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞
- –ª—é–¥–∏ –∫–æ—Ç–æ—Ä—ã–µ –±–µ—Ä—É—Ç –∫—Ä–µ–¥–∏—Ç –Ω–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å –∏ —Å–≤–∞–¥—å–±—É –æ—Ç–¥–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —Ö—É–∂–µ, –Ω–µ–∂–µ–ª–∏ –µ—Å–ª–∏ –±–µ—Ä—É—Ç –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å –∏ —Å–≤–∞–¥—å–±—É

–í —Ü–µ–ª–æ–º –µ—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Ü–µ–ª—è–º–∏ –∫—Ä–µ–¥–∏—Ç–∞, —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞.

- —Å–∞–º—ã–π –Ω–µ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—ã–π –∑–∞–µ–º—â–∏–∫ —ç—Ç–æ - —á–µ–ª–æ–≤–µ–∫ –∫–æ—Ç–æ—Ä—ã–π —É –∫–æ–≥–æ 3 –¥–µ—Ç–µ–π, —Å–≤–µ—Ä—Ö–≤—ã—Å–æ–∫–∏–π –∏–ª–∏ –Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–Ω–µ–Ω—å –¥–æ—Ö–æ–¥–∞ –∏ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ —Å–≤–∞–¥—å–±–∞ –∏–ª–∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å.
- —Å–∞–º—ã–π –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—ã–π –∑–∞–µ–º—â–∏–∫ —ç—Ç–æ - —á–µ–ª–æ–≤–µ–∫ –∫–æ—Ç–æ—Ä—ã–π –µ—Å—Ç—å –¥–µ—Ç–∏, —Å—Ä–µ–¥–Ω–∏–π –∏–ª–∏ –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –¥–æ—Ö–æ–¥–∞ –∏ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å –∏ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ.

<div class="alert alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–í –æ–±—â–∏–π –≤—ã–≤–æ–¥ —Å—Ç–æ–∏—Ç –¥–æ–±–∞–≤–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–∞–±–æ—Ç –Ω–∞ –≤—Ç–æ—Ä–æ–º –∏ —Ç—Ä–µ—Ç—å–µ–º —à–∞–≥–∞—Ö, –∫–∞–∫ –±—ã–ª–∏ –æ–±—Ä–∞–±–∞—Ç–∞–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏, –∏—Ö –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –∏ —Ç–¥. –≠—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç –ª—é–¥—è–º, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤—Ä–µ–º–µ–Ω–∏ –≤–Ω–∏–∫–∞—Ç—å –≤ —Ä–∞–±–æ—Ç—É, –ø–æ–Ω—è—Ç—å —á—Ç–æ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ –∏ –∫–∞–∫. –¢–∞–∫–∂–µ –ø–æ–ª–µ–∑–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å –±–ª–æ–∫ ¬´–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏¬ª.
    
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–î—Ä—É–≥–æ–µ –¥–µ–ª–æ! –ü—Ä–∏–º–µ—Ä –ø–æ–ª–Ω–æ–≥–æ –∏ —Ä–∞–∑–≤–µ—Ä–Ω—É—Ç–æ–≥–æ –≤—ã–≤–æ–¥–∞ üëè

</div>

<div style="border:solid purple 2px; padding: 20px">

–£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–∞—Å—å –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞! –ú–Ω–æ–≥–∏–µ –º–æ–º–µ–Ω—Ç—ã —Å–¥–µ–ª–∞–Ω—ã –ø—Ä–æ—Å—Ç–æ –ø—Ä–µ–∫—Ä–∞—Å–Ω–æ. –¢—ã –ø–æ–∫–∞–∑—ã–≤–∞–µ—à—å –æ—Ç–ª–∏—á–Ω–æ–µ –≤–ª–∞–¥–µ–Ω–∏–µ –∏–∑—É—á–∞–µ–º—ã–º –º–∞—Ç–µ—Ä–∏–∞–ª–æ–º: —É–≤–µ—Ä–µ–Ω–Ω–æ –ø–æ–ª—å–∑—É–µ—à—å—Å—è pandas, —É–º–µ–µ—à—å –ø–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞—Ç—å, –æ—á–∏—â–∞—Ç—å, –æ–±–æ–≥–æ—â–∞—Ç—å –¥–∞–Ω–Ω—ã–µ. –ù–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ –≤—Å–µ–π —Ä–∞–±–æ—Ç—ã —á—É–≤—Å—Ç–≤—É–µ—Ç—Å—è –≥–ª—É–±–∏–Ω–∞ –ø—Ä–æ—Ä–∞–±–æ—Ç–∫–∏ –∑–∞–¥–∞—á–∏ –∏ —ç—Ç–æ –±–µ–∑—É—Å–ª–æ–≤–Ω—ã–π –ø–ª—é—Å –¥–ª—è –Ω–∞—Å.

–û—Å—Ç–∞–ª–∏—Å—å –Ω–µ–±–æ–ª—å—à–∏–µ –¥–æ—Ä–∞–±–æ—Ç–∫–∏:

- –í —à–∞–≥–µ 3 –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–µ—Ä–µ—Å—á–∏—Ç–∞—Ç—å –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏;
- –í —à–∞–≥–µ 4 –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –¥–æ–ø–æ–ª–Ω–∏—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.

–ñ–¥—É —Ç–≤–æ–∏—Ö –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–π, —É —Ç–µ–±—è –≤—Å–µ –ø–æ–ª—É—á–∏—Ç—Å—è üòä 

</div>

<div class="alert alert-info" role="alert">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —É—á–µ–Ω–∏–∫–∞ </h2>
    
–°—Ç–æ–ª–∫–Ω—É–ª—Å—è —Å –ø—Ä–æ–±–ª–µ–º–æ–π –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É —Å—Ç—Ä–æ–∏—Ç—å —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã, –≤–æ–∑–º–æ–∂–Ω–æ –¥–∞–Ω–Ω—ã–µ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã –Ω–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ, –ø–æ—Å–æ–≤–µ—Ç—É–π—Ç–µ, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —á—Ç–æ –ø–æ—á–∏—Ç–∞—Ç—å –∏–ª–∏ –ø–æ—Ç—Ä–µ–Ω–∏—Ç—å—Å—è –ø—Ä–∏–º–µ–Ω—è—Ç—å –º–µ—Ç–æ–¥ pivot_table().
–ó–∞—Ä–∞–Ω–µ–µ –±–ª–∞–≥–æ–¥–∞—Ä—é –∑–∞ –ø—Ä–æ–≤–µ—Ä–∫—É!
    
<div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </h2>

–û–¥–æ–±—Ä—è—é —Ç–≤–æ–µ —Å—Ç—Ä–µ–º–ª–µ–Ω–∏–µ, —Å–∞–º–æ–µ –≥–ª–∞–≤–Ω–æ–µ –≤ –ª—é–±–æ–º –¥–µ–ª–µ = —ç—Ç–æ –∂–µ–ª–∞–Ω–∏–µ. –í–æ—Ç, —á—Ç–æ —è –º–æ–≥—É –ø–æ—Å–æ–≤–µ—Ç–æ–≤–∞—Ç—å:
    
1. –û—Å–Ω–æ–≤–Ω–æ–µ - —ç—Ç–æ [–¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html), —Ç–∞–º –µ—Å—Ç—å –∏ –ø—Ä–∏–º–µ—Ä—ã, –∏ –æ–ø–∏—Å–∞–Ω–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤
    
2. –¢–∞–∂–µ –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –ø—Ä–∏–º–µ—Ä—ã [–∑–¥–µ—Å—å](https://datatofish.com/pivot-table-python/). –ù–æ –≤—Ä–æ–¥–µ –Ω–∏—á–µ–≥–æ –æ—Å–æ–±–µ–Ω–Ω–æ–≥–æ
    
3. –ù–∞ [stackoverflow](https://stackoverflow.com/questions/12860421/python-pandas-pivot-table-with-aggfunc-count-unique-distinct) –µ—Å—Ç—å —Ç–∞–∫–∂–µ –Ω–µ–ø–ª–æ—Ö–∏–µ –ø—Ä–∏–º–µ—Ä—ã. –í–æ–æ–±—â–µ, –¥–∞–Ω–Ω—ã–π —Ä–µ—Å—É—Ä—Å –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–∏–π, —Ç–∞–º –º–æ–∂–Ω–æ –Ω–∞–π—Ç–∏ –æ—Ç–≤–µ—Ç—ã –Ω–∞ –º–Ω–æ–≥–∏–µ –≤–æ–ø—Ä–æ—Å—ã –∏ –Ω–µ–ø–ª–æ—Ö–æ –ø—Ä–æ–∫–∞—á–∞—Ç—å—Å—è
    
</div>

### –ß–µ–∫-–ª–∏—Å—Ç –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞ 

–ü–æ—Å—Ç–∞–≤—å—Ç–µ 'x' –≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –î–∞–ª–µ–µ –Ω–∞–∂–º–∏—Ç–µ Shift+Enter.

- [x]  –æ—Ç–∫—Ä—ã—Ç —Ñ–∞–π–ª;
- [x]  —Ñ–∞–π–ª –∏–∑—É—á–µ–Ω;
- [x]  –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –æ–±—ä—è—Å–Ω–µ–Ω–æ, –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏;
- [x]  –∑–∞–º–µ–Ω–µ–Ω –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É;
- [x]  —É–¥–∞–ª–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –∏ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –≤—ã–¥–µ–ª–µ–Ω—ã –ª–µ–º–º—ã –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å —Ü–µ–ª—è–º–∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞;
- [x]  –æ–ø–∏—Å–∞–Ω –ø—Ä–æ—Ü–µ—Å—Å –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏;
- [x]  –¥–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã;
- [x]  –µ—Å—Ç—å –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –ø—Ä–∏–Ω—Ü–∏–ø–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?";
- [x]  –≤ –∫–∞–∂–¥–æ–º —ç—Ç–∞–ø–µ –µ—Å—Ç—å –≤—ã–≤–æ–¥—ã;
- [x]  –µ—Å—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.